{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static%}

 {% block extendhead %}
 <script src="{% static 'hello.js' %}" type="text/javascript"></script>
 <link rel="stylesheet" href="{% static 'radio-button.css'%}">
 {% endblock extendhead %}




{% block content %}
{% if user.is_authenticated %}
  <h4 align=left>Hi {{ user.username }}
  <a href="{%url 'logout'%}" align=left class="btn btn-info" role="button">logout</a></h4>
  {%for obj in object_list%}
      <center>  <h3>{{obj.id}}.{{obj.question}}</h3>
        <!-- <input type="radio" name={{obj.id}} value="{{obj.option_a}}">{{obj.option_a}}<br>
        <input type="radio" name={{obj.id}} value="{{obj.option_b}}">{{obj.option_b}}<br>
        <input type="radio" name={{obj.id}} value="{{obj.option_c}}">{{obj.option_c}}<br>
        <input type="radio" name={{obj.id}} value="{{obj.option_d}}">{{obj.option_d}}<br> -->
        <form>
             <div class="radiobtn">
               <input type="radio" id="{{obj.option_a}}"
                      name="1" value="{{obj.option_a}}"/>
               <label for="{{obj.option_a}}">{{obj.option_a}}</label>
             </div>

             <div class="radiobtn">
               <input type="radio" id="{{obj.option_b}}"
                      name="1" value="{{obj.option_b}}" />
               <label for="{{obj.option_b}}">{{obj.option_b}}</label>
             </div>

             <div class="radiobtn">
               <input type="radio" id="{{obj.option_c}}"
                      name="1" value="{{obj.option_c}}" />
               <label for="{{obj.option_c}}">{{obj.option_c}}</label>
             </div>
             <div class="radiobtn">
               <input type="radio" id="{{obj.option_d}}"
                      name="1" value="{{obj.option_d}}" />
               <label for="{{obj.option_d}}">{{obj.option_d}}</label>
             </div>
           </form>
           </center>

        <input type="hidden" name="" value={{obj.answer}}><br>
        {%endfor%}
        <!-- <center><button type="submit" class="btn btn-primary btn-lg" name="submit" value="submit" id="btntest"></center> -->
        <center><button onclick="foo()" type="submit" class="btn btn-primary btn-lg" name="submit" value="submit" id="btntest">submit</button></center>







{% else %}
  <h4>You are not logged in</h4>
  <h4><a href="{% url 'login' %}">login</a></h4>
{% endif %}


{% endblock %}
